<div class="row">
  <% if flash[:error] %>
    <div class="card-panel red darken-3">
      <span class="white-text"><%= flash[:error] %></span>
    </div>
  <% end %>
  <% if flash[:info] %>
    <div class="card-panel orange darken-2">
      <span class="white-text"><%= flash[:info] %></span>
    </div>
  <% end %>
  <% if flash[:success] %>
    <div class="card-panel teal">
      <span class="white-text"><%= flash[:success] %></span>
    </div>
  <% end %>
  <% @products.each do |product| %>
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <p class="card-title"><%= product.name %></p>
          <span>Catéorie : </span>
          <div class="chip">
            <%= product.category %>
          </div>
          <p>Ingrédients :</p>
          <p><%= product.ingredients %></p>
        </div>
        <div class="card-action">
          <a href="/products/<%= product.id %>/edit" class="btn white-text green accent-4"><i class="material-icons left">mode_edit</i>Modifier</a>
          <%= link_to product, method: :delete, data: { confirm: 'Are you sure ?' }, class: "btn-floating btn-large waves-effect rightwaves-light red darken-1" do %>
            <i class="material-icons">delete</i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="col s12 m12 l12">
    <a href="/products/new" class="btn "><i class="material-icons left">add</i>Nouveau produit</a>
  </div>
</div>
