<!DOCTYPE html>
<html lang="fr">
  <head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>O' Tours de Crêpes</title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper top-bar">
          <div class="container-fluid">
            <a href="/" class="brand-logo logo right"><img src="/assets/logo.png"></a>
            <a href="" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="left hide-on-med-and-down">
              <li><a href="/">Accueil</a></li>
              <li><a href="/carte">La carte</a></li>
                <li><a href="/contact">Contact</a></li>
              <% if user_signed_in? %>
                <li><%= link_to "Produits", products_path %></li>
                <li><a rel="nofollow" data-method="delete" href="/users/sign_out">Log out</a></li>
              <% end %>
            </ul>
            <ul class="side-nav" id="mobile-menu">
              <li><a href="/">Accueil</a></li>
              <li><a href="/carte">La carte</a></li>
              <li><a href="/contact">Contact</a></li>
              <% if user_signed_in? %>
                <li><%= link_to "Produits", products_path %></li>
                <li><a rel="nofollow" data-method="delete" href="/users/sign_out">Log out</a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="container-fluid">
      <div class="row">
        <% if notice %>
          <div class="card-panel">
            <span class="notice light-blue-text accent-3"><%= notice %></span>
          </div>
        <% end %>
        <% if alert %>
          <div class="card-panel red lighten-4">
            <span class="red-text darken-4"><%= alert %></span>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </main>
    <footer>
    </footer>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
